button { 
  border: none;
  color: white;
  padding: 12px 32px;
  margin : 30px;
  font-weight: bold;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  width: 500px;
  background-color: rgb(255,92,95);
}

#buttons {
	display : flex;
	flex-direction : column;
	align-items: center;
	justify-content: space-between;
  margin: 100px;
}

button:hover {
  cursor : pointer;
}

