@media screen{
  header { 
    /* width: 252px; */
    width: 852px; 
    height: 45px; 
    width: 375px; 
    height: 100px; 
    background: #ED7D31;
    background-color: #ED7D31;
    /*border: 1px solid #1D4A69; */
    border: 1px solid #ED7D31;
    border-radius: 0px; 
  }
}
