@media mobile and (max-width: 100000 px) {
  header { 
    width: 252px; 
    height: 45px; 
    width: 375px; 
    height: 100px; 
    background: #1D4A69; 
    border: 1px solid #1D4A69; 
    border-radius: 0px; 
    }
}
