
#transactionPage {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;

}
#history {
    width: 300px;
    height: 300px;
    text-align: justify;
    overflow: auto;
}

#sending {
  list-style-image: url('../images/sendTokens.png');
}

#receiving {
  list-style-image: url('../images/receiveTokens.png');
}

.AurexiaName{
  position: absolute;
  left: 44%;
  top: 2%;
  text-align: center;
  font-size: 16px;
}

.WalletName{
  position: absolute;
  left: 43%;
  top: 5%;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
}

hr{
  margin-top: 0.5em;
  border-width: 1px;
}