html {
    height: 100%;
    font-size: 100%;
  }
  
  /* Header */
  
  #blockHeader{
    position: relative;
    margin-top: 3%;
  }
  
  #aurexiaName{
    position: relative;
    text-align: left;
    font-size: 1em;
    color: white;
    margin-left: 6%;
  }
  
  #walletName{
    position: relative;
    text-align: left;
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    margin-left: 6%;
  }
  
  #identity{
    position: absolute;
  
    /* ABA 25/06/2019 */
    /*top:15%; */
    top: -20%;
  
    right:6%;
    text-align: right;
    font-size:1em;
    color: white;
  }
  
  hr{
    color:white;
    position: relative;
    opacity: 0.33;
  }
  
  /*Menu Header*/
  
  nav{
    position: relative;
    height: 3em;
  
    /* ABA 25/06/2019 */
    font-size: 85%;
    margin: 0 auto;
    display:table;
  
  }
  
  ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float:left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.7em;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #1554DF;
    border-radius: 3em;
  }
  .active {
    background-color: #1554DF;
    border-radius: 3em;
  }
  
  
  /*CSS Section Rankings Table */
  #rankingsPage{
    position:relative;

    /* ABA 26 06 2019 
    background-color: #1554DF; */
    background-color: white;

    margin-left: 4%;
    margin-right:4%;
    margin-top: 1%;
    border-width:1px;
    border-style:solid;
    border-color:#1554DF;
    /* ABA 26 06 2019 
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
    */
    border-radius: 0.6em;
  }

  #rankingChoice{
    position: relative;
    text-align : center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }
  
  
  label {
    display: block;
    font-weight: none;

    /* ABA 26 06 2019
    color: white; */
    color: #1554DF;

    margin-bottom: 1%;
    font-size: 120%;
    margin: 6% 0% 6% 0%;
  }

  option{
    color: #1554DF
  }
  
  #dest-select{
    margin-bottom: 4%;
    border: none;
    border-bottom: 1px solid;
    border-color: white;
    background-color: #1554DF;
    font-size: 1.2em;
    text-align: center;
  }
  
  button { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    margin-bottom: 4%;
    border: none;
    color: white;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    background-color: #24C69A;
    border-radius: 1em;
    height: 2.5em; 
    font-size: 0.9em;
    width: 13em;
  }
  
/*CSS allTable */

#allTableau{
    position:relative;
    background: white;
    margin-left: 4%;
    margin-bottom: 4%;
    margin-right:4%;
    border-width:1px;
    border-style:solid;
    border-color:#1554DF;
    border-top: none;
    border-bottom-left-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
}

#ownRankingPhrase{
  position: relative;
  margin-top:10%;
  text-align:center;
  font-size:1em;
  color: #1554DF;
}


#ownRanking{
    position: relative;
    text-align:center;
    font-size:2em;
    color: #1554DF;
    margin-top:1%;
}

/* ABA 26 06 2019 */

#RankingTransaction{
  position: relative;
  text-align:center;
  font-size:2em;
  color: #1554DF;
  margin-top:1%;
}

#RankingReceive{
  position: relative;
  text-align:center;
  font-size:2em;
  color: #1554DF;
  margin-top:1%;
}

#RankingSend{
  position: relative;
  text-align:center;
  font-size:2em;
  color: #1554DF;
  margin-top:1%;
}

/* END ABA 26 06 2019 */


#bodyTrait{
    color:#1554DF;
    position: relative;
}

thead{
    display:none;
}

.table{
    position: relative;
}

#table_content1{
    position:relative;
    margin-left: auto;
    margin-right:auto;
}

#table_content2{
    position:relative;
    margin-left: auto;
    margin-right:auto;
}

#table_content3{
    position:relative;
    margin-left: auto;
    margin-right:auto;
}

#table_content4{
    position:relative;
    margin-left: auto;
    margin-right:auto;
}

.column3{
    /* ABA 26 06 2019 */
    /*padding-left: 15%; */
    size: 40%;
}

th{
    font-size:1em;
    color:#1554DF;
    padding-top:10%;
}

/*ABA 26 09 2019 */
.table-body{
  font-size: 120%;
  color: #1554DF;
  display: table;
  margin: 0 0 5% 0;
  border-spacing: 1em;
}
  
  
  /* CSS Body*/
  
  body {
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin: 0;
    background-color: #E9F7FF;
    background-image: linear-gradient(20deg, #24C69A, #1554DF);
    background-size:100% 45%;
    background-repeat: no-repeat;
  }