#second_layer {
  display: flex;
  justify-content: center;
  max-height: 500px;
}

#history {
    width: 300px;
    height: 300px;
    text-align: justify;
    overflow: auto;
}

#sending {
  list-style-image: url('../images/sendTokens.png');
}

#receiving {
  list-style-image: url('../images/receiveTokens.png');
}

#transHist {
  display: flex;
  justify-content: center;
  margin:10px;  
}

#introduction {
    display: flex;
    justify-content: center;
      align-items: center;
  justify-content: space-around;
}

#intro {
  width : 80%;
}

#rankSection {
  height : 400px;
  width : 400px;
}