#graph li
{
   position:absolute;	
   list-style:none;
   background:lightblue;
   width:40px;
   text-align:center;
   border:1px solid black;
   visibility: hidden;
   background-repeat:repeat-y;
}

#photos {
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 10%;
}