header
{
	background-color : rgb(29,74,105);
	margin-bottom: 50px;
}

#logo {
	float : left;
	position : fixed;
}

#logoutButton {
	float : right;
	position : relative;
	bottom : 20px;
}

#titre_principal
{
  text-align: center;
  display : fixed;
  bottom : 20px;
  margin : auto;
  padding-bottom: 25px;
  padding-top: 25px;
  font-size: 60px;
  color : white;
}

