header
{
	display : flex;
	background-color : rgb(29,74,105);
}


#identity {
	display : flex;
	align-items: center;
	float : right;
	position : relative;
	color : white;
}


.pic {
	overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
}

.button {
  color : white;
  font-size: 30px;
  margin-left : 50px;
}

.button:hover {
  cursor : pointer;
}
nav {
  display : flex;
  margin-left: 100px;
}
