body
{
	font-family: Calibri;
	background-image: url("../images/test.png");
	margin:0px;
}

body::after {
	opacity:0.5;
}


h1 {
  text-align: center;
  color:white;
}

#leader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 40%;
  margin-right: 40%;
  background-color: white;
}




#upper_section
{
	display :flex;
	justify-content: space-around;
	margin-top: 50px;
	padding-left:100px;
	padding-right:100px;
	padding-bottom: 50px;
	align-items: center;
	border-bottom: 1px solid;
}


#ast_balance
{
	display : flex;
	flex-direction : column;
	align-items: center;
	justify-content: space-around;
  	margin: 30px;
}

#ast_balance > * {
    margin: 10px 0;
}

#new_member
{
  margin: 40px;
}

#new_member > * {
    margin: 10px 0;
}


#profile_picture
{
	position : relative;
	width : 80px;
	bottom : 70px;
	margin : auto;
	background-color: white;
	padding : 20px;
	border : 1px solid;
}

#lower_section
{
	display : flex;
	align-items: center;
	justify-content: space-between;
}

#history
{
	position : relative;
	width: 100px;
}


footer
{
	position : fixed;
	bottom :0;
  font-weight: bold;
  color:white;
}